!.expelimicate
!.gitignore
!**.java
!**.json
!**.txt
!*/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.fseventsd
.fuse_hidden*
.LSOverride
.mtj.tmp/
.nfs*
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
*.cab
*.class
*.ctxt
*.DS_Store
*.ear
*.jar
*.lnk
*.log
*.msi
*.msm
*.msp
*.rar
*.tar.gz
*.war
*.zip
**/out/
*~
$RECYCLE.BIN/
Desktop.ini
ehthumbs_vista.db
ehthumbs.db
hs_err_pid*
Icon
Network Trash Folder
Temporary Items
Thumbs.db
